{% extends "base.html" %}
{% load static %}
{%block content%}
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-6">
        <div class="container-fluid">
            <h3 class="text-center my-3">This is the beginning of the conversation in {{groupchat.name}}</h3>
            {% for message in messages%}
                    {% if message.sender == user %}
                    <p class="d-flex justify-content-end text-muted" style="margin-right: 90px;">{{message.sender}}</p>
                    {% for profile in profiles %}
                        {% if profile.user == message.sender %}
                            {% if profile.profile_image == 'default.jpg' %}
                                <a href="{% url 'profiles:profile_detail' user_profile.username %}"><img src="{% static 'img/default.jpg' %}" alt="no user" class="img-fluid float-right my-2 ml-3" style="width: 65px; height: 65px; border-radius: 100px;"></a>
                            {% else %}
                                <a href="{% url 'profiles:profile_detail' user.username %}"><img src="{{user_profile.profile_image.url}}" alt="{{message.sender}}" class="img-fluid float-right my-2 ml-3" style="width: 65px; height: 65px; border-radius: 100px;"></a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <div class="card w-25 ml-auto card msgs my-3">
                        <div class="card-body ml-auto msg-body">
                            {{message.text}}
                        </div>
                    </div>
                    {% if message.image %}
                    <img src="{{message.image.url}}" alt="message image" style="width: 190px; height: 185px; border-radius: 100px" class="img-fluid ml-3">
                    {% endif %}

                {% else %}
                        <p class="text-muted" style="margin-left: 90px;">{{message.sender}}</p>
                        {% for profile in profiles%}
                            {% if profile.user == message.sender %}
                                {% if profile.profile_image == 'default.jpg' %}
                                    <a href="{% url 'profiles:profile_detail' message.sender.username %}"><img src="{% static 'img/default.jpg' %}" alt="no user" class="img-fluid float-left mr-3 mt-1" style="width: 65px; height: 65px; border-radius: 100px;"></a>
                                {% else %}
                                    <a href="{% url 'profiles:profile_detail' message.sender.username %}"><img src="{{profile.profile_image.url}}" alt="{{message.sender}}" class="img-fluid float-left mr-3 mt-1" style="width: 65px; height: 65px; border-radius: 100px;"></a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <div class="card w-25 msgs ml-5">
                            <div class="card-body msg-body">
                                {{message.text}}
                            </div>
                        </div>
                    {% if message.image %}
                    <img src="{{message.image.url}}" alt="message image" style="width: 190px; height: 185px; border-radius: 100px" class="img-fluid ml-3">
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-2">
        <div class="card w-100 posts follow-scroll">
            <div class="card-title">
                <div class="d-flex justify-content-center mt-3">
                    {% if groupchat.groupchatImage == 'default.jpg' %}
                    <img src="{% static 'img/default.jpg' %}" alt="no user" class="img-fluid float-left" style="width: 120px; height: 115px; border-radius: 100px;"></a>
                    {% else %}
                    <img src="{{groupchat.groupchatImage.url}}" alt="{{profile.username}}" class="img-fluid float-left" style="width: 120px; height: 115px; border-radius: 100px;"></a>
                    {% endif %}
                </div>
                <div class="row justify-content-center mt-2">
                    <p class="font-weight-bold">{{groupchat.name}}</p>
                </div>
                <hr>
            </div>
            <div class="card-subtitle text-muted ml-3">{{groupchat.members.all|length}} Member{{groupchat.members.all|length|pluralize}}</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                {% for profile in profiles %}
                    {% for member in groupchat.members.all %}
                    {% if profile.user.id == member.id %}
                        {% if profile.profile_image == 'default.jpg' %}
                            <a class="d-inline" href="{% url 'profiles:profile_detail' member %}"><img src="{% static 'img/default.jpg' %}" alt="no user" class="img-fluid my-2 ml-3" style="width: 50px; height: 50px; border-radius: 100px;"></a>
                        {% else %}
                            <a class="d-inline" href="{% url 'profiles:profile_detail' member %}"><img src="{{profile.profile_image.url}}" alt="{{message.sender}}" class="img-fluid my-2 ml-3" style="width: 50px; height: 50px; border-radius: 100px;">
                            </a>
                        {% endif %}
                        <p class="d-inline mr-5"><a class="text-dark" href="{% url 'profiles:profile_detail' member %}">{{ member }}</a></p>
                    {% endif %}
                    {% endfor %}
                {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-2"></div>
    <div class="col-lg-6 d-flex justify-content-center">
        <form method="post" class="w-75 post-form recent" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.text }} 
            {{ form.image }}
            <button type="submit" class="btn yes-btn d-inline float-right mt-3">Send</button>
        </form>
    </div>
    <div class="col-lg-2"></div>
</div>
<script>
    (function($) {
    var element = $('.follow-scroll'),
        originalY = element.offset().top;

    // Space between element and top of screen (when scrolling)
    var topMargin = 20;

    // Should probably be set in CSS; but here just for emphasis
    element.css('position', 'relative');

    $(window).on('scroll', function(event) {
        var scrollTop = $(window).scrollTop();

        element.stop(false, false).animate({
            top: scrollTop < originalY
                    ? 0
                    : scrollTop - originalY + topMargin
        }, 300);
    });
})(jQuery);

$(document).ready(function(){
    $("html, body").animate({ 
        scrollTop: $('.recent').offset().top }, 5);
    });
</script>
{%endblock content%}
