{% extends "base.html" %}
{% load static %}
{%block content%}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="container-fluid">
            <h3 class="text-center my-3">This is the beginning of the conversation in {{groupchat.name}}</h3>
            {% for message in messages%}
                    {% if message.sender == user %}
                    <p class="d-flex justify-content-end text-muted" style="margin-right: 90px;">{{message.sender}}</p>
                    {% for profile in profiles %}
                        {% if profile.user == message.sender %}
                            {% if profile.profile_image == 'default.jpg' %}
                                <a href="{% url 'profiles:profile_detail' user_profile.username %}"><img src="{% static 'img/default.jpg' %}" alt="no user" class="img-fluid float-right my-2 ml-3" style="width: 65px; height: 65px; border-radius: 100px;"></a>
                            {% else %}
                                <a href="{% url 'profiles:profile_detail' user.username %}"><img src="{{user_profile.profile_image.url}}" alt="{{message.sender}}" class="img-fluid float-right my-2 ml-3" style="width: 65px; height: 65px; border-radius: 100px;"></a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <div class="card w-25 ml-auto card msgs my-3">
                        <div class="card-body ml-auto msg-body">
                            {{message.text}}
                        </div>
                    </div>
                    {% if message.image %}
                    <img src="{{message.image.url}}" alt="message image" style="width: 190px; height: 185px; border-radius: 100px" class="img-fluid ml-3">
                    {% endif %}

                {% else %}
                        <p class="text-muted" style="margin-left: 90px;">{{message.sender}}</p>
                        {% for profile in profiles%}
                            {% if profile.user == message.sender %}
                                {% if profile.profile_image == 'default.jpg' %}
                                    <a href="{% url 'profiles:profile_detail' message.sender.username %}"><img src="{% static 'img/default.jpg' %}" alt="no user" class="img-fluid float-left mr-3 mt-1" style="width: 65px; height: 65px; border-radius: 100px;"></a>
                                {% else %}
                                    <a href="{% url 'profiles:profile_detail' message.sender.username %}"><img src="{{profile.profile_image.url}}" alt="{{message.sender}}" class="img-fluid float-left mr-3 mt-1" style="width: 65px; height: 65px; border-radius: 100px;"></a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <div class="card w-25 msgs ml-5">
                            <div class="card-body msg-body">
                                {{message.text}}
                            </div>
                        </div>
                    {% if message.image %}
                    <img src="{{message.image.url}}" alt="message image" style="width: 190px; height: 185px; border-radius: 100px" class="img-fluid ml-3">
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
    <div class="row mt-5">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 d-flex justify-content-center">
            <form method="post" class="w-75 post-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.text }} 
                {{ form.image }}
                <button type="submit" class="btn yes-btn d-inline float-right mt-3">Send</button>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
    </div>
{%endblock content%}
