{% extends "base.html" %}
{% load static %}
{% block title %}
    Profile Detail
{% endblock %}
{% block content %}

<div class="row">
<div class="col-lg-2">

</div>
<div class="col-lg-4">
    <div class="row"><img src="{{profile.profile_image.url}}" alt="Flowers in Chania" style="width:200px;height:300px;"></div>
    <div class="row">
        {% if profile.username == user.username %}
            <button><a href="{% url 'profiles:update_profile' profile.id %}">Edit</a></button>
        {% else %}
            <button><a href="">Add Friend</a></button>
        {% endif %}
        </div>
    
    
</div>
<div class="col-lg-4">
<p>{{profile.fname}}</p>
{{user.username}}


</div>
<div class="col-lg-4">

</div>
</div>

{% endblock content %}