{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-3 col-sm-4 col-md-2 col-lg-3">
                <div class="icon-bar float-right mr-5">
                    <a class="active" href="{% url 'home' %}"><i class="fa fa-home"></i></a> 
                    <a href="#"><i class="fa fa-users"></i></a> 
                    <a href="#"><i class="fa fa-shopping-bag"></i></a> 
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-7 col-lg-6">
                <h2 class="text-left">Users</h2>
                {% for profile in profiles %}
                    {% if profile.profile_image is not None %}
                    <a class="mr-4 profile-image" href="{% url 'profiles:profile_detail' profile.username %}"><img src="{{profile.profile_image.url}}" alt="{{user.username}}" class="img-fluid img-responsive" style="width: 190px; height: 185px; border-radius: 100px;"></a>
                    {% else %}
                    <a class="mr-4 profile-image" href="{% url 'profiles:profile_detail' profile.username %}"><img src="{% static 'img/default.jpg' %}" alt="no user" class="img-fluid"></a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-2 col-sm-4 col-md-3 col-lg-3">
            
            </div>
        </div>
</div>
{% endblock content %}