{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <h1 class="text-center">Checkout</h1>
{% endblock %}


{% block content %}
<h1 class="text-center mt-4">Checkout:</h1>
<div class="row">
    <div class="col-2 col-sm-3 col-md-2 col-lg-2"></div>
    <div class="col-2 col-sm-4 col-md-2 col-lg-5">
    <form action="." method="post" class="box-checkout w-75 mb-5">
            <p>{{ form | crispy }}</p>
            <input class="btn cart-btn font-weight-bold" type="submit" value="Pay Now">
            {% csrf_token %}
    </form>
    </div>
    <div class="col-2 col-sm-4 col-md-2 col-lg-3 mt-4 mb-1">
        <div class="card">
            <div class="card-header" style="background-color: #F2F3F5">
                <h3 class="card-title text-center">Your Order</h3>
            </div>
            <div class="card-body">
              <ul class="card-text text-center mr-5">
                {% for item in cart %}
                    <li class="text-center">{{ item.quantity }}x {{ item.product.name }}
                        <span>€{{ item.total_price|floatformat:"2" }}</span>
                        <hr class="w-75">
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="card-footer" style="background-color: #F2F3F5">
                <tr class="total">
                    <td>Total:  </td>
                    <td colspan="4"></td>
                    <td class="num">
                        €{{ cart.get_total_price|floatformat:"2"}}
                    </td>
                </tr>
            </div>
        </div>
    </div>
    <div class="col-2 col-sm-3 col-md-2 col-lg-2"></div>
</div>
{% endblock content %}



