{% extends "base.html" %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}
    <h1 class="text-center mt-3">Thank you</h1>
    <p class="text-center">Your order has been successfully completed and we have sent out a confirmation email.</p>
    <p class="text-center">Please pay before shipping</p>
    <p class="text-center">your order number is {{ order.id }}</p>
    <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-6 mx-auto mb-3"><a href="{% url 'payment' order.id %}"><button type="button" class="custom-button">Pay Now</button></a></div>
    </div>
{% endblock %}