{% extends 'base.html' %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 ml-3">
            <h1 class="my-3">Your shopping cart</h1>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Gender</th>
                <th>Remove</th>
                <th>Unit price</th>
                <th>Price</th>
            </tr>
        </thead>
    <tbody>
        {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <td>
                    <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}
                                    {{ product.image_thumbnail.url }}
                                {% else %}
                                    {% static 'img/no_image.png' %}                    
                                {% endif %}"> 
                    </a>
                </td>
                <td>{{ product.name }}</td>
                <td>
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {% csrf_token %}
                        {{ item.update_form.quantity }}
                        {{ item.update_form.update }}
                        <input class="custom-button" type="submit" value="Update">
                        <input name="submit-form" value="3" type="hidden">
                    </form>
                </td>
                <td>
                    <!---
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {% csrf_token %}
                        {{ item.update_gender_form.gender }}
                        {{ item.update_gender_form.update }}
                        <input class="custom-button" type="submit" value="Update">
                    </form>
                -->
                </td>
                <td><a href="{% url 'cart:cart_remove' product.id %}">
                        Remove</a></td>
                <td class="num">€{{ item.price }}</td>
                <td class="num"> €{{ item.total_price }}</td>
            </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="5"></td>
            <td class="num">
                €{{ cart.get_total_price|floatformat:"2"}}
            </td>
        </tr>
    </tbody>
    </table>
    <p class="text-left return my-5">
        <a href="{% url 'shop:product_list' %}"
            class="custom-button m-3 p-2 text-left">Continue shopping</a>
        <a href="{% url 'order_create' %}" class="custom-button m-3 p-2 text-left">Checkout</a>
    </p>
    </div>
    <div class="col-sm-1"></div>
</div>
{% endblock %}