<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/loopstyle.css">
        <title>Loop</title>
    </head>
    <body>
        <div class="container-fluid header-container row">
            <div class="col-sm-2">
                hello
                    <img src="/media/Logo/Loop_Logo.png" class="img-responsive img-fluid" alt="logo">
            </div>
            <div class="col-xs-1 col-sm-1">
                <header>
                    <h1><a href="% url 'home' %">Posts</a></h1>
                </header>
            </div>
            <div class="col-xs-1"></div>
        </div>
        {% block content %}
        {% endblock content %}
    </body>